extends layout

block content
  h1= title
  p Welcome to #{title}
  p Added a word

    br
  - var btnType = 'secondary'
  - var btnSize = 'sm'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) click me
